.container{
    max-width: 1280px;
    width: 100%;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.header-top{
    height: 43px;
    background: linear-gradient(90deg, #5068F2 0%, #2F41AA 100%);
}
body{
    font-family: 'Circe', sans-serif;
    background: #F2F4FF;
}
.col-lg-5{
    width: 40%;
}
.col-lg-7{
    width: 56%;
}
.col-lg-4{
    width: 32%;
}
.col-lg-2{
    width: 16%;
}
p{
    font-family: 'Circe Light', sans-serif !important;
}
.col-lg-3{
    width: 24%;
}
.col-lg-5{
    width: 42%;
}
.col-lg-6{
    width: 50%;
}